DOMAIN=inft.kr
KRATOS_VERSION=<검증한_고정_tag>
HYDRA_VERSION=<검증한_고정_tag>
POSTGRES_PASSWORD=<32자_이상_랜덤값>
KRATOS_COOKIE_SECRET=<32자_이상_랜덤값>
KRATOS_CIPHER_SECRET=<32자_이상_랜덤값>
HYDRA_SYSTEM_SECRET=<32자_이상_랜덤값>
GITHUB_CLIENT_ID=<production_client_id>
GITHUB_CLIENT_SECRET=<production_client_secret>
DISCORD_CLIENT_ID=<production_client_id>
DISCORD_CLIENT_SECRET=<production_client_secret>
DISCORD_BOT_TOKEN=<bot_token>
DISCORD_GUILD_ID=<guild_id>
SMTP_CONNECTION_URI=<smtps_URI>
